<!DOCTYPE hibernate-configuration PUBLIC
"-//Hibernate/Hibernate Configuration DTD//EN"
"http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
  <session-factory>
    <!-- Don't forget to copy your JDBC driver to the lib/ directory! -->

    <!-- Settings for a local Oracle (testing) database. -->
    <property name="dialect">org.hibernate.dialect.Oracle9Dialect</property>
    <property name="connection.driver_class">oracle.jdbc.OracleDriver</property>
    <property name="connection.url">jdbc:oracle:thin:@server:1521:db1</property>
    <property name="connection.username">jeppe</property>
    <property name="connection.password">apa</property>

    <!-- Use the C3P0 connection pool.
    <property name="c3p0.min_size">3</property>
    <property name="c3p0.max_size">5</property>
    <property name="c3p0.timeout">1800</property>
    -->

    <!-- Use the Hibernate built-in pool for tests. -->
    <property name="connection.pool_size">1</property>

    <!-- Use EHCache but not the query cache. -->
    <property name="cache.provider_class">org.hibernate.cache.EhCacheProvider</property>
    <property name="cache.provider_class">org.hibernate.cache.HashtableCacheProvider</property>
    <property name="cache.use_query_cache">true</property>
    <property name="cache.use_second_level_cache">true</property>
    <property name="cache.use_minimal_puts">false</property>


    <!-- Print SQL to stdout. -->
    <property name="show_sql">true</property>

    <!-- Domain mapping files. -->
    <mapping resource="org/siri/domain/Sender.hbm.xml"/>
	<mapping resource="org/siri/domain/Sender.hbm.xml"/>
   
  </session-factory>
</hibernate-configuration>
